<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/favicon.png" />
    <title>@ViewBag.Title - Musaranha</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <ul id="acoes" class="dropdown-content">
            <li><a href="@Url.Action("Index", "Configuracoes")">config.</a></li>
            <li><a href="@Url.Action("Sair", "Autenticacao")">sair</a></li>
        </ul>
        <nav>
            <div class="nav-wrapper">
                <div class="row">
                    <div class="col s12">
                        <a href="~/" class="brand-logo center">Musaranha</a>
                        <a href="#" data-activates="slide-out" class="trigger left"><i class="material-icons">menu</i></a>
                        <ul class="right">
                            <li><a class="dropdown-button" href="#!" data-activates="acoes">@Session["Usuario"]<i class="material-icons right">arrow_drop_down</i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        @Html.Partial("_Sidebar")
    </header>
    <main>
        <div class="row">
            <div class="col s12">
                @RenderBody()
            </div>
        </div>
    </main>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    @Scripts.Render("~/bundles/js")
    @Html.Partial("_Modulo")
    @if (ViewBag.Mensagens != null)
    {
        <script>
            $(function () {
                @foreach (var mensagem in ViewBag.Mensagens)
                {
                    <text>
                    Materialize.toast('@mensagem["Conteudo"]', 4000)
                    </text>
                }
            });
        </script>
    }
    <script>
        $(function () {
            $(".nav-wrapper .trigger").sideNav();
            $(".dropdown-button").dropdown();
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
