@{
    var pathname = Request.Path.ToLower();
}

<ul id="slide-out" class="side-nav">
    <li class="@(pathname.StartsWith("/painel") ? "active" : "")">
        <a class="waves-effect" href="@Url.Action("Index", "Painel")">
            Painel
        </a>
    </li>
    <li class="@(pathname.StartsWith("/cliente") ? "active" : "")">
        <a class="waves-effect" href="#">
            Clientes
        </a>
    </li>
    <li class="@(pathname.StartsWith("/funcionario") ? "active" : "")">
        <a class="waves-effect" href="@Url.Action("Index", "Funcionario")">
            Funcionários
        </a>
    </li>
    <li class="@(pathname.StartsWith("/fornecedor") ? "active" : "")">
        <a class="waves-effect" href="#">
            Fornecedores
        </a>
    </li>
    <li class="@(pathname.StartsWith("/produto") ? "active" : "")">
        <a class="waves-effect" href="#">
            Produtos
        </a>
    </li>
    <li class="@(pathname.StartsWith("/compra") ? "active" : "")">
        <a class="waves-effect" href="#">
            Compras
        </a>
    </li>
    <li class="@(pathname.StartsWith("/venda") ? "active" : "")">
        <a class="waves-effect" href="#">
            Vendas
        </a>
    </li>
    <li class="@(pathname.StartsWith("/relatorio/compra") ? "active" : "")">
        <a class="waves-effect" href="#">
            Relatório de Compras
        </a>
    </li>
    <li class="@(pathname.StartsWith("/relatorio/venda") ? "active" : "")">
        <a class="waves-effect" href="#">
            Relatório de Vendas
        </a>
    </li>
</ul>
