@model FuncionarioReciboViewModel

@{
    Layout = null;
    decimal soma = Model.Pagamentos.Sum(p => p.Valor);
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Recibo de Pagamentos</title>
    <style>
        html {
            font-family: Arial, sans-serif;
        }

        dl dt {
            font-weight: bold;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0px;
            width: 100%;
        }

            table tr th {
                text-align: right;
                padding: 2px;
            }

            table tr td {
                text-align: right;
                margin: 0px;
                padding: 2px;
            }

        table, td, th {
            border: .5px solid black;
        }
    </style>
</head>
<body>
    <h1>
        Recibo de Pagamentos
    </h1>
    <p>
        <b>Funcionário:</b>
        @Model.Funcionario.Pessoa.Nome
    </p>
    <p>
        <b>Categoria:</b>
        @Model.Funcionario.GetCategoria
    </p>
    <p>
        <b>Carteira de Trabalho:</b>
        @Model.Funcionario.NumCarteiraTrabalho
    </p>
    <p>
        <b>Salário:</b>
        @Model.Funcionario.Salario.ToString("C", new System.Globalization.CultureInfo("pt-BR"))
    </p>
    <br />
    <table>
        <tr>
            <th style="text-align: left;">Data</th>
            <th>Mês de Referência</th>
            <th>Valor Pago</th>
        </tr>
        @foreach (Pagamento pagamento in Model.Pagamentos)
        {
            <tr>
                <td style="text-align: left;">@pagamento.DtPagamento.ToString("dd/MM/yyyy")</td>
                <td>@pagamento.MesReferencia.ToString("00")/@pagamento.AnoReferencia.ToString("0000")</td>
                <td>@pagamento.Valor.ToString("C", new System.Globalization.CultureInfo("pt-BR"))</td>
            </tr>
        }
    </table>
    <br />
    <table>
        <tr>
            <th colspan="2">Valor dos Pagamentos Feitos</th>
            <td>@soma.ToString("C", new System.Globalization.CultureInfo("pt-BR"))</td>
        </tr>
        <tr>
            <th colspan="2">Valor Devendo</th>
            <td>@(((Model.Funcionario.Salario - soma).ToString("C", new System.Globalization.CultureInfo("pt-BR"))) ?? "R$ 0,00")</td>
        </tr>
    </table>
</body>
</html>


@*<itext creationdate="@DateTime.Now.ToString()" producer="RazorPDF">
    <paragraph style="font-size:18;font-weight:bold;">
        <chunk>Recibo de Pagamentos</chunk>
    </paragraph>
    <newline />
    <paragraph style="font-family:Helvetica;font-size:12;">
        <chunk style="font-weight:bold;">Funcionário: </chunk>
        <chunk>@Model.Funcionario.Pessoa.Nome</chunk>
        <newline />
        <chunk style="font-weight:bold;">Carteira de Trabalho: </chunk>
        <chunk>@Model.Funcionario.NumCarteiraTrabalho</chunk>
        <newline />
        <chunk style="font-weight:bold;">Salário: </chunk>
        <chunk>@Model.Funcionario.Salario.ToString("C", new System.Globalization.CultureInfo("pt-BR"))</chunk>
        <newline />
        <chunk style="font-weight:bold;">Mês/Ano de Referência: </chunk>
        <chunk>@Model.MesReferencia.ToString("00")/@Model.AnoReferencia.ToString("0000")</chunk>
    </paragraph>
    <newline />
    <table width="100%" cellpadding="1.0" cellspacing="1.0" widths="1;1;1">
        <row>
            <cell borderwidth="0.5" left="false" right="false" top="false" bottom="true"><chunk style="font-weight:bold;">Data</chunk></cell>
            <cell borderwidth="0.5" left="false" right="false" top="false" bottom="true"><chunk style="font-weight:bold;">Mês/Ano de Referência</chunk></cell>
            <cell borderwidth="0.5" left="false" right="false" top="false" bottom="true"><chunk style="font-weight:bold;">Valor Pago</chunk></cell>
        </row>
        @foreach (Pagamento pagamento in Model.Pagamentos)
        {
            <row>
                <cell borderwidth="0.5" left="false" right="false" top="false" bottom="true">@pagamento.DtPagamento.ToString("dd/MM/yyyy")</cell>
                <cell borderwidth="0.5" left="false" right="false" top="false" bottom="true">@pagamento.MesReferencia.ToString("00")/@pagamento.AnoReferencia.ToString("0000")</cell>
                <cell borderwidth="0.5" left="false" right="false" top="false" bottom="true">@pagamento.Valor.ToString("C", new System.Globalization.CultureInfo("pt-BR"))</cell>
            </row>
        }
    </table>
    <newline />
    <paragraph style="font-family:Helvetica;font-size:12;">
        <chunk style="font-weight:bold;">Valor dos Pagamentos Feitos: </chunk>
        <chunk>@soma.ToString("C", new System.Globalization.CultureInfo("pt-BR"))</chunk>
        <newline />
        <chunk style="font-weight:bold;">Valor Devendo: </chunk>
        <chunk>@(((Model.Funcionario.Salario - soma).ToString("C", new System.Globalization.CultureInfo("pt-BR"))) ?? "R$ 0,00")</chunk>
    </paragraph>
</itext>*@
