@model RelatorioComprasViewModel

@{
    ViewBag.Title = "Relatório de Compras";
}

<h3>@ViewBag.Title <i class="medium material-icons right">equalizer</i></h3>
<div class="divider"></div>
<br />
<form action="@Url.Action("Compras")" method="post">
    <div class="row">
        <div class="input-control col s12 m6">
            <label for="txtDataInicio">Data Ínicio</label>
            <input type="date" name="txtDataInicio" id="txtDataInicio" required class="datepicker">
        </div>
        <div class="input-control col s12 m6">
            <label for="txtDataTermino">Data Término</label>
            <input type="date" name="txtDataTermino" id="txtDataTermino" required class="datepicker">
        </div>
        <div class="input-control col s12 m6">
            <label for="txtFornecedor">Fornecedor</label>
            <select name="txtFornecedor" id="txtFornecedor" required class="validate">
                <option value="0" selected>Todos</option>
                @foreach (Fornecedor fornecedor in Model.Fornecedores)
                {
                    <option value="@fornecedor.CodPessoa">@fornecedor.Pessoa.Nome</option>
                }
            </select>
        </div>
        <div class="input-control col s12 m6">
            <label for="txtProduto">Produto</label>
            <select name="txtProduto" id="txtProduto" required class="validate">
                <option value="0" selected>Todos</option>
                @foreach (Produto produto in Model.Produtos)
                {
                    <option value="@produto.CodProduto">@produto.Descricao</option>
                }
            </select>
        </div>
    </div>
    <button type="submit" class="waves-effect btn">Imprimir</button>
    <a href="@Url.Action("Index")" class="waves-effect btn-flat">Cancelar</a>
</form>

@section Scripts {
    <script>
        $('select').material_select();
        $('.datepicker').pickadate({
            selectMonths: true,
            selectYears: true
        });
    </script>
}