@model VendaIndexViewModel

@{
    ViewBag.Title = "Vendas";
}

<h3>@ViewBag.Title <i class="medium material-icons right">import_export</i></h3>
<div class="divider"></div>

<br />
<button class="incluir waves-effect btn">Incluir</button>
<a href="@Url.Action("Vendas", "Relatorio")" class="waves-effect btn">Relatório</a>
<br />

<section id="filtro">
    <h5>Filtrar</h5>
    <div class="input-control col s3">
        <label for="txtFiltroCliente">Cliente</label>
        <select name="txtFiltroCliente" id="txtFiltroCliente">
            <option value="0" selected>Todos</option>
            @foreach (Cliente cliente in Model.Clientes)
            {
                <option value="@cliente.CodPessoa">@cliente.Pessoa.Nome</option>
            }
        </select>
    </div>
    <div class="input-control col s3">
        <label for="txtFiltroDataInicio">Data de Início</label>
        <input type="date" name="txtFiltroDataInicio" id="txtFiltroDataInicio" placeholder="Data de Início" class="datepicker">
    </div>
    <div class="input-control col s3">
        <label for="txtFiltroDataTermino">Data de Término</label>
        <input type="date" name="txtFiltroDataTermino" id="txtFiltroDataTermino" placeholder="Data de Término" class="datepicker">
    </div>
    <div class="input-control col s3">
        <label for="txtFiltroProduto">Produto</label>
        <select name="txtFiltroProduto" id="txtFiltroProduto">
            <option value="0" selected>Todos</option>
            @foreach (Produto produto in Model.Produtos)
            {
                <option value="@produto.CodProduto">@produto.Descricao</option>

            }
        </select>
    </div>

</section>

<form method="post" class="incluir modal modal-fixed-footer">
    <div class="modal-content">
        <h4 class="header">Incluir Venda</h4>
        <div class="input-control col s9">
            <label for="txtCliente">Cliente</label>
            <select name="txtCliente" id="txtCliente" required class="validate">
                <option value="" disabled selected>Cliente</option>
                @foreach (Cliente cliente in Model.Clientes)
                {
                    <option value="@cliente.CodPessoa">@cliente.Pessoa.Nome</option>
                }
            </select>
        </div>
        <div class="input-control col s3">
            <label for="txtData">Data</label>
            <input type="date" name="txtData" id="txtData" value="@DateTime.Today.ToString("dd/MM/yyyy")" required class="datepicker">
        </div>
        <section class="itens">
            <h6>Itens da Venda</h6>
            <div class="row">
                <div class="input-control col s4">
                    <label for="txtProduto">Produto</label>
                    <select name="txtProduto1" id="txtProduto" required class="validate">
                        <option value="" selected disabled>Produto</option>
                        @foreach (Produto produto in Model.Produtos)
                        {
                            <option value="@produto.CodProduto">@produto.Descricao</option>

                        }
                    </select>
                </div>
                <div class="input-control col s2">
                    <label for="txtUnidade">Unidade</label>
                    <input type="text" name="txtUnidade1" id="txtUnidade" maxlength="5" required class="validate">
                </div>
                <div class="input-control col s2">
                    <label for="txtQuantidade">Quantidade</label>
                    <input type="text" name="txtQuantidade1" id="txtQuantidade" required class="validate mask-numero">
                </div>
                <div class="input-control col s2">
                    <label for="txtPrecoUnitario">Preço Unitário</label>
                    <input type="text" name="txtPrecoUnitario1" id="txtPrecoUnitario" required class="validate mask-dinheiro">
                </div>
                <div class="input-control col s2">
                    <label for="txtValorTotal">Valor Total</label>
                    <input type="text" name="txtValorTotal1" id="txtValorTotal" disabled class="validate mask-dinheiro">
                </div>
            </div>
        </section>
        <div class="input-control col s6">
            <label for="txtDesconto">Desconto</label>
            <input type="text" name="txtDesconto" id="txtDesconto" value="0,00" required class="validate mask-dinheiro">
        </div>
        <div class="input-control col s6">
            <label for="txtVendaValor">Valor Total</label>
            <input type="date" name="txtVendaValor" id="txtVendaValor" value="0,00" disabled class="validate mask-dinheiro">
        </div>
    </div>
    <div class="modal-footer">
        <div class="modal-action waves-effect btn primary">Incluir</div>
        <button type="reset" class="modal-action modal-close waves-effect btn-flat">Cancelar</button>
    </div>
</form>

<form method="post" class="editar modal modal-fixed-footer">
    <div class="modal-content">
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="modal-action waves-effect btn primary">Editar</div>
        <button type="reset" class="modal-action modal-close waves-effect btn-flat">Cancelar</button>
    </div>
</form>

<form method="post" class="excluir modal">
    <div class="modal-content">
        <h4 class="header">Excluir Venda?</h4>
        <p>Deseja mesmo excluir a venda selecionada?</p>
        <div class="info">
            <p><b>Data</b>: 31/08/2015</p>
            <p><b>Cliente</b>: Felipe Pontes</p>
            <p><b>Desconto</b>: 0,00</p>
            <p><b>Valor Total</b>: 3550,00</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="reset" class="modal-action waves-effect btn primary">Excluir</button>
        <button type="reset" class="modal-action modal-close cancelar btn-flat">Cancelar</button>
    </div>
</form>

<div id="itens" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="modal-action modal-close btn-flat">Fechar</button>
    </div>
</div>

<table class="table highlight responsive-table vendas">
    <thead>
        <tr>
            <th>Data</th>
            <th>Cliente</th>
            <th>Desconto</th>
            <th>Valor Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @Html.Partial("_Lista", Model.Vendas)        
    </tbody>
</table>