@model CompraIndexViewModel

@{
    ViewBag.Title = "Compras";
}

<h3>@ViewBag.Title <i class="medium material-icons right">shopping_basket</i></h3>
<div class="divider"></div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <button class="incluir btn-floating btn-large waves-effect" title="Incluir">
        <i class="large material-icons">add</i>
    </button>
    <ul>
        <li><a href="@Url.Action("Compras", "Relatorio")"  title="Relatório" class="btn-floating waves-effect"><i class="material-icons">equalizer</i></a></li>
    </ul>
</div>


<section id="filtro">
    <h5>Filtrar</h5>
    <div class="input-control col s12 m3">
        <label for="txtFiltroFornecedor">Fornecedor</label>
        <select name="txtFiltroFornecedor" id="txtFiltroFornecedor">
            <option value="0" selected>Todos</option>
            @foreach (Fornecedor fornecedor in Model.Fornecedores)
            {
                <option value="@fornecedor.CodPessoa">@fornecedor.Pessoa.Nome</option>
            }
        </select>
    </div>
    <div class="input-control col s12 m3">
        <label for="txtFiltroDataInicio">Data de Início</label>
        <input type="date" name="txtFiltroDataInicio" id="txtFiltroDataInicio" placeholder="Data de Início" class="datepicker">
    </div>
    <div class="input-control col s12 m3">
        <label for="txtFiltroDataTermino">Data de Término</label>
        <input type="date" name="txtFiltroDataTermino" id="txtFiltroDataTermino" placeholder="Data de Término" class="datepicker">
    </div>
    <div class="input-control col s12 m3">
        <label for="txtFiltroProduto">Produto</label>
        <select name="txtFiltroProduto" id="txtFiltroProduto">
            <option value="0" selected>Todos</option>
            @foreach (Produto produto in Model.Produtos)
            {
                <option value="@produto.CodProduto">@produto.Descricao</option>

            }
        </select>
    </div>

</section>

<form method="post" class="incluir modal modal-fixed-footer">
    <div class="modal-content">
        <h4 class="header">Incluir Compra</h4>
        <div class="input-control col s9">
            <label for="txtFornecedor">Fornecedor</label>
            <select name="txtFornecedor" id="txtFornecedor" required class="validate">
                <option value="" disabled selected>Fornecedor</option>
                @foreach (Fornecedor fornecedor in Model.Fornecedores)
                {
                    <option value="@fornecedor.CodPessoa">@fornecedor.Pessoa.Nome</option>
                }
            </select>
        </div>
        <div class="input-control col s3">
            <label for="txtData">Data</label>
            <input type="date" name="txtData" id="txtData" value="@DateTime.Today.ToString("dd/MM/yyyy")" required class="datepicker">
        </div>
        <section class="itens">
            <h6>Itens da Compra</h6>
            <div class="row">
                <div class="input-control col s4">
                    <label for="txtProduto">Produto</label>
                    <select name="txtProduto1" id="txtProduto" required class="validate">
                        <option value="" selected disabled>Produto</option>
                        @foreach (Produto produto in Model.Produtos)
                        {
                            <option value="@produto.CodProduto">@produto.Descricao</option>

                        }
                    </select>
                </div>
                <div class="input-control col s2">
                    <label for="txtUnidade">Unidade</label>
                    <input type="text" name="txtUnidade1" id="txtUnidade" maxlength="5" required class="validate">
                </div>
                <div class="input-control col s2">
                    <label for="txtQuantidade">Quantidade</label>
                    <input type="text" name="txtQuantidade1" id="txtQuantidade" required class="validate mask-numero">
                </div>
                <div class="input-control col s2">
                    <label for="txtPrecoUnitario">Preço Unitário</label>
                    <input type="text" name="txtPrecoUnitario1" id="txtPrecoUnitario" required class="validate mask-dinheiro">
                </div>
                <div class="input-control col s2">
                    <label for="txtValorTotal">Valor Total</label>
                    <input type="text" name="txtValorTotal1" id="txtValorTotal" disabled class="validate mask-dinheiro">
                </div>
            </div>
        </section>
        <div class="input-control col s6">
            <label for="txtDesconto">Desconto</label>
            <input type="text" name="txtDesconto" id="txtDesconto" value="0,00" required class="validate mask-dinheiro">
        </div>
        <div class="input-control col s6">
            <label for="txtCompraValor">Valor Total</label>
            <input type="date" name="txtCompraValor" id="txtCompraValor" value="0,00" disabled class="validate mask-dinheiro">
        </div>
    </div>
    <div class="modal-footer">
        <div class="modal-action waves-effect btn primary">Incluir</div>
        <button type="reset" class="modal-action modal-close waves-effect btn-flat">Cancelar</button>
    </div>
</form>

<form method="post" class="editar modal modal-fixed-footer">
    <div class="modal-content">
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="modal-action waves-effect btn primary">Editar</div>
        <button type="reset" class="modal-action modal-close waves-effect btn-flat">Cancelar</button>
    </div>
</form>

<form method="post" class="excluir modal">
    <div class="modal-content">
        <h4 class="header">Excluir Compra?</h4>
        <p>Deseja mesmo excluir a compra selecionada?</p>
        <div class="info">
            <p><b>Data</b>: 31/08/2015</p>
            <p><b>Fornecedor</b>: Felipe Pontes</p>
            <p><b>Desconto</b>: 0,00</p>
            <p><b>Valor Total</b>: 3550,00</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="reset" class="modal-action waves-effect btn primary">Excluir</button>
        <button type="reset" class="modal-action modal-close cancelar btn-flat">Cancelar</button>
    </div>
</form>

<div id="itens" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="modal-action modal-close btn-flat">Fechar</button>
    </div>
</div>

<table class="table highlight responsive-table bordered compras">
    <thead>
        <tr>
            <th>Data</th>
            <th>Fornecedor</th>
            <th>Desconto</th>
            <th>Valor Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @Html.Partial("_Lista", Model.Compras)        
    </tbody>
</table>